:root {
    --color-primary: #473A8D;       /* Cor principal */
    --color-secondary: #01fff4;     /* Ciano */
    --color-background: linear-gradient(135deg, #FF0000, #473A8D); /* Gradiente de fundo */
    --color-text: #ffffff;          /* Cor do texto */
    --color-muted: #777777;         /* Cinza */
    --color-accent: #FF0000;        /* Cor de destaque */
}

/* Resetando o padrão */
* {
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--color-background);  /* Cor de fundo com gradiente */
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    font-family: sans-serif;
    flex-grow: 1;
    color: var(--color-text);
}

/* Header */
.header {
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    padding: 20px;
}

/* Main Container */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    color: var(--color-text);
}

/* Grid de Materiais */
.materials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
}

/* Item do Grid */
.grid-item {
    background-color: var(--color-primary);
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

/* Formulário */
.form-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-text);
}

input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    resize: vertical;
}

/* Botão */
.submit-button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--color-accent);
}

/* Footer */
.footer {
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    align-self: flex-end;
    flex-shrink: 0;  /* Para evitar que o footer diminua */
}
